@font-face {
	font-family: "Free Serif Italic";
	src: url("freeserifitalic.ttf");
}

body {
	font-family: sans-serif; /*change this font*/
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

/* Styles for top-bar */

#address {
	font-size: 0.9em;
	letter-spacing: 0.5px;
	margin-top: 30px;	
	color: #333;
}

#title {
	margin-top: -10px;
	color: #be9c58;
	text-align: center;
	font-size: 4vw;
	font-weight: 100;
	letter-spacing: 5px;
}

.top-bar-container {
	margin: 0 auto;
	width: 1000px;
}

#top-bar {
	border-bottom: 0.5px solid #ddd;
	width: 100%;
}

/* Styles for navbar */
nav {
	text-align: center;
}

nav ul#navbar {	
	display: inline-block;
}

nav #navbar li {
	padding: 8px 80px;
	display: inline-block;	
	list-style-type: none;
}

nav #navbar li a {
	text-decoration:none;
	color: black;
	transition: color 0.5s;
}

nav #navbar li a:hover {
	color: #be9c58;
}

/* styles for hero */

#hero {	
	height: 80vh;
	width: 100%;
	background: url("../images/image6.jpg") no-repeat center;
	background-size: cover;
}

/* styles for highlights */
section#HL {
	margin: 50px 0;
}

#HL-container {
	width: 75%;	
	margin: 0 auto;
}

.HL-subcontainer {
	width: 90%;
	margin: 0 auto;
}

#HL-left-bar {
	float: left;
	width: 50%;	
}

.HL-img {
	max-width: 100%;
	text-align: center;
	margin-top: 40px;
}

#h-img1 {
	margin-top: 95px;
}

#h-img3 {
	margin-top: 110px;
}

#HL-right-bar {
	float: right;
	width: 50%;	
}

#HL-mini-header {
	margin: 0;
	font-weight: 100;
	letter-spacing: 2px;	
}

.HL-text {
	max-width: 80%;
	margin: 0 auto;
}

#h-text1 {
	margin-top: 110px;
}

h1.HL-header {	
	margin: 20px 0 0 0;
	line-height: 40px;
	font-size: 2.5em;	
	color: #be9c58;
	font-style: italic;
	font-family: 'Free Serif Italic';
	letter-spacing: 2px;
}

p.HL-desc {
	letter-spacing: 0.5px;	
}

a.more-link {
	color: #000;
	text-decoration: none;
}